<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="OrchidSense" content/>
    <meta name="Dinis Duarte" content/>
    <title>Gestão de Utilizadores</title>
    <link
            href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
            rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon"
          href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<!-- Navbar -->
<nav
        class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
        id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
    <button
            class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0"
            id="sidebarToggle"><i
            data-feather="menu"></i></button>

    <!-- Navbar Brand-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/index"> OrchidSense </a>
    <!-- Sidebar Toggle-->

    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle"
               id="navbarDropdownUserImage"
               href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <img class="img-fluid"
                     src="{{ url_for('static', filename='assets/img/illustrations/profiles/' + current_user.profile_image) }}">
            </a>
            <div
                    class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img"
                         src="{{ url_for('static', filename='assets/img/illustrations/profiles/' + current_user.profile_image) }}"/>
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ current_user.first_name }} {{ current_user.last_name }}</div>
                        <div class="dropdown-user-details-email">{{ current_user.email }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-icon"><i
                            data-feather="settings"></i></div>
                    Conta
                </a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                    <div class="dropdown-item-icon"><i
                            data-feather="log-out"></i></div>
                    Sair
                </a>
            </div>
        </li>
    </ul>
    <!-- Sidebar -->
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    <!-- Sidenav Heading (Custom)-->
                    <div class="sidenav-menu-heading">Menu</div>
                    <!-- Sidenav Accordion (Pages)-->
                    <a class="nav-link" href="/dashboard">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Dados em Tempo Real
                    </a>
                    <a class="nav-link" href="/relatorios">
                        <div class="nav-link-icon"><i
                                data-feather="file-text"></i></div>
                        Análise e Relatórios
                    </a>
                    <a class="nav-link" href="/biblioteca-orquideas">
                        <div class="nav-link-icon"><i
                                data-feather="book-open"></i></div>
                        Biblioteca de Orquídeas
                    </a>

                    <a class="nav-link" href="/notificacoes">
                        <div class="nav-link-icon"><i data-feather="bell"></i></div>
                        Alertas e Notificações
                    </a>
                    <a class="nav-link" href="/gestao-dispositivos">
                        <div class="nav-link-icon"><i data-feather="box"></i></div>
                        Gestão de Dispositivos
                    </a>
                    {% if current_user.is_admin %}
                        <a class="nav-link" href="/gestao-utilizadores">
                            <div class="nav-link-icon"><i
                                    data-feather="user-check"></i></div>
                            Gestão de Utilizadores
                        </a>
                    {% endif %}
                    {#              <a class="nav-link" href="/ajuda-suporte">#}
                    {#                <div class="nav-link-icon"><i#}
                    {#                    data-feather="help-circle"></i></div>#}
                    {#                Ajuda e Suporte#}
                    {#              </a>#}

                    <a class="nav-link" href="{{ url_for('logout') }}">
                        <div class="nav-link-icon"><i data-feather="power"></i></div>
                        Sair
                    </a>
                </div>
            </div>
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Início de sessão com:</div>
                    <div class="sidenav-footer-title">{{ current_user.email }}</div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Conteúdo Principal -->
    <div id="layoutSidenav_content">
        <main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Edit User
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" href="{{ url_for('gestao_utilizadores') }}">
                            <i class="me-1" data-feather="arrow-left"></i>
                            Back to Users List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="{{ url_for('static', filename='assets/img/illustrations/profiles/' + user.profile_image) }}" alt="" />
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload new image</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('editar_utilizador', user_id=user.id) }}">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" name="first_name" type="text" placeholder="Enter your first name" value="{{ user.first_name }}" />
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" name="last_name" type="text" placeholder="Enter your last name" value="{{ user.last_name }}" />
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" name="email" type="email" placeholder="Enter your email address" value="{{ user.email }}" />
                            </div>
                            <!-- Form Group (Roles)-->
                            <div class="mb-3">
                                <label class="small mb-1">Role</label>
                                <select class="form-select" name="is_admin" aria-label="Default select example">
                                    <option value="0" {% if not user.is_admin %}selected{% endif %}>Utilizador</option>
                                    <option value="1" {% if user.is_admin %}selected{% endif %}>Administrador</option>
                                </select>
                            </div>
                            <!-- Submit button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




        <!-- Footer -->

        <footer class="footer-admin mt-auto footer-light">
            <div class="container-xl px-4">
                <div class="row">
                    <div class="col-md-6 small">&copy; Dinis Alexandre Barros Duarte -
                        nº2412 - LEI - Projecto Académico 2023/24
                    </div>
                    <div class="col-md-6 text-md-end small">
                        <a href="#!">Privacidade</a>
                        &middot;
                        <a href="#!">Termos &amp; Condições</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Scripts -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script
        src="{{ url_for('static', filename='js/datatables/datatables-simple-demo.js') }}"></script>

</body>
</html>
